body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.bootstrap-debug{
    position: fixed;
    bottom:0;
    left:0;
    background-color: red;
    z-index: 15;
    padding:20px;
    font-size: 25px;
}

section{
    position:relative;
}
/*------------------------ Helper Clases --------------------------------------------------------*/
.section-header{
    font-size: 50px;
    padding: 0 30px 10px 30px;
    margin-bottom: 50px;
}

.section-header span{
    font-size: 50px;
    padding: 0 30px 10px 30px;
    margin-bottom: 50px;
    border-image: linear-gradient(
        to right, 
        #00CCCC 0%, 
        #00CCCC 50%, 
        #0099CC 50%, 
        #0099CC 100%
    ) 10;
    border-style: solid;
    border-width: 0 0 5px 0;
}

.section-header-white{
    font-size: 50px;
    padding: 0 30px 10px 30px;
    margin-bottom: 50px;
}

.section-header-white span{
    font-size: 50px;
    padding: 0 30px 10px 30px;
    margin-bottom: 50px;
    border-image: linear-gradient(
        to right, 
        #fefefe 0%, 
        #fefefe 50%, 
        #DBDBDC 50%, 
        #DBDBDC 100%
    ) 10;
    border-style: solid;
    border-width: 0 0 5px 0;
}

.subheader{
    font-weight: 100;
    font-size: 35px;
    margin-top: -15px;
    margin-bottom: -15px;
    letter-spacing: -1px;
}

.text-blue{
    color: #0099cc;
}

.text-turqoise{
    color: #00cccc;
}

.text-montserrat{
    font-family: 'Montserrat', sans-serif;
}

.text-muli{
    font-family: 'Muli', sans-serif;
}

.bold{
    font-weight: 700;
}

.section-footer{
    color: #00cccc;
    font-family: 'Montserrat', sans-serif;
}

.section-footer h1{
    font-weight: 700;
    font-size:50px;
}

.section-footer h2{
    font-weight: 700;
    font-size:35px;
}

.section-footer p{
    font-weight: 700;
    font-size:30px;
}

.inverted{
    color: #fff;
}

.btn-turqoise{
    background-color: #0099cc;
    border-radius: 0px;
    color:#fff;
    padding:10px 35px
}

@media(max-width:570px){
    .section-header span,.section-header-white span{
        font-size: 6vw;
    }
}

/*----------------------------------------------------------------------------------------------*/

/*
    custom navbar
*/
.clicked-burger{
    background-color: rgba(255, 255, 255, 1)!important;
}

.navbar-transparent{
    background-color: rgba(0, 153, 204, 0.20);
    color:#fff;
    transition: all 0.25s ease;
}

.navbar-small{
    background-color: #fff;
}

.navbar-transparent .logo{
    width:250px;
    margin: 10px 0 17px 0;
    transition: all 0.25s ease;
}

.navbar-small .logo{
    width:150px;
    margin: 0 0 5px 0;
}

.navbar-transparent .nav.navbar-nav.navbar-right{
    height: 129px;
    padding-top: 40px;
    transition: all 0.25s ease;
}

.navbar-small .nav.navbar-nav.navbar-right{
    height: 0px;
    padding-top: 8px;
}

.navbar-transparent .nav.navbar-nav.navbar-right li a{
    color: #fff;
    font-size:20px;
    font-weight: 100;
    letter-spacing: -1px;
    transition: all 0.25s ease;
}

.navbar-small .nav.navbar-nav.navbar-right li a{
    color: #333;
    font-size:15px;
    font-weight: 100;
    letter-spacing: -1px;
    transition: all 0.25s ease;
}

.clicked-burger .nav.navbar-nav.navbar-right li a{
    color: #333!important;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline!important;
    background-color: transparent!important;
}

.navbar-transparent .navbar-toggle .icon-bar {
    background-color: #FFF;
    transition: all 0.25s ease;
}

.clicked-burger .navbar-toggle .icon-bar,.navbar-small .navbar-toggle .icon-bar {
    background-color: #333;
}

#linkedin-link{
    color: #0099cc;
    margin: -18px 0 0 0;
    opacity: 0.75;
}

.navbar-small .fa-inverse{
    color: #333;
}

.clicked-burger .fa-inverse{
    color: #333;
}

.navbar-small #linkedin-link{
    color: #fff!important;
    margin: -12px 0 0 0;
    opacity: 0.75;
}

.clicked-burger #linkedin-link{
    color: #fff!important;
    margin: -12px 0 0 0;
    opacity: 0.75;
}

.navbar-transparent .navbar-toggle{
    margin-top: 40px;
    -webkit-transition: all 0.25ms ease;
    -moz-transition: all 0.25ms ease;
    transition: all 0.25ms ease;
}

.navbar-small .navbar-toggle{
    margin-top: 16px;
}

@media(max-width:992px){
    .navbar-transparent .nav.navbar-nav.navbar-right li a{
        font-size:13px;
    }
    #linkedin-link{
         margin: -10px 0 0 0;
    }
}

@media(max-width: 767px){
    .navbar-transparent .nav.navbar-nav.navbar-right{
        height: initial;
        padding-top: 0;
    }
}

/*----------------------------------------------------------------------------------------------*/

/* 
    Section full class:
    This class is the css for each section, making them full screen each one
 */

.debug{
    border: 1px dashed black;
}

 .section-full{
     position: relative;
 }

.centered-div-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    word-wrap: unset;
}

@media(min-width: 992px){
    .section-full{
        width: 100%;
        min-height: 100vh;
    }
}

/*----------------------------------------------------------------------------------------------*/
 /*
    section backgrounds
 */

 #section-1{
     width: 100%;
     height: 100vh;
     background-image: url('../images/finance.jpg');
     background-size: cover;
     overflow: hidden;
     color:#fff;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
 }

 #section-1 .centered-div-section{
     width:70vw;
 }

#translating{
    font-size: 6vw;
    display: block;
    letter-spacing: -3px;
    margin-bottom: -6.2%; 
}

#into{
    font-size: 8vw;
    display: block;
    letter-spacing: -6px;
}

#section-1 .filter{
    position: absolute;
    background-color: rgba(0,153,204,0.5);
    width: 100%;
    height: 100%;
}

@media(max-width:767px){
    #section-1 .centered-div-section{
        width:100vw;
    }

    #translating{
        font-size: 9vw; 
    }

    #into{
        font-size: 12vw;
        display: block;
        letter-spacing: -6px;
    }
}

/*----------------------------------------------------------------------------------------------*/

/*
    Section 2
*/

#section-2{
    color: #454545;
    font-size:25px;
    background-image: url(../images/shutterstock_bw.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#section-2 .filter{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

#section-2 .container-fluid{
    padding-top:75px;
    padding-bottom:75px;
}

#section-2 p{
    margin-bottom:25px;
}

@media(max-width:767px){
    #section-2{
        font-size: 20px;
    }
}

/*------------------- Section 3-----------------------------*/

#section-3{
    background-color: #fff;
}

#section-3 .container-fluid{
    padding-top:75px;
    padding-bottom:75px;
}

#section-3 .icon-holder{
    padding:30px;
}

#section-3 .icon-holder .icon{
    padding:30px;
}

.help-margin{
    margin-top: -7px;
}

#section-3 .icon-holder p{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
@media(max-width:991px){
    #section-3 .icon-holder .icon{
        padding:0px;
        max-width: 150px;
    }

    #section-3 .icon-holder p{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
}

/*------------------ Fourth Section ------------------*/

#section-4{
    background-image: url(../images/financial-advisor_bw.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

#section-4 .container{
    padding-top: 75px;
    padding-bottom: 75px;
}

#section-4 .filter{
    background-color: rgba(0, 204, 204, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

#section-4 .container{
    padding-top:75px;
}

#section-4 .columns{
    margin-top:50px;
}

#section-4 .column-header h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
    letter-spacing: -2px;
}

@media(min-width:992px){
    #section-4 .columns .col-lg-3:nth-of-type(1) p{
        margin-top: 15px;
    }

    #section-4 .columns .col-lg-3:nth-of-type(2) p{
        margin-top: 27px;
    }

    #section-4 .columns .col-lg-3:nth-of-type(3) p{
        margin-top: 52px;
    }

    #section-4 .columns .col-lg-3:nth-of-type(4) p{
        margin-top: 52px;
    }
}

/*----------------fifth section-------------------*/
#section-5{

}

#section-5 .container-fluid{
    padding-top: 75px;
    padding-bottom:75px;
}

/*------------------sixth section------------------*/

#section-6{
    background-color: #00cccc;
}

#section-6 .container{
    padding-top: 75px;
    padding-bottom: 75px;
}

.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 3px solid #fff;
    border-radius: 0; 
    -webkit-box-shadow:none; 
    box-shadow: none; 
    -webkit-transition: none; 
    -o-transition: none;
    transition: none;
}

.form-control:focus {
    border-color: #fff; 
    outline: none; 
    -webkit-box-shadow: none; 
    box-shadow:none; 
}

.form-horizontal .control-label {
        color: #fff;
        font-size: 25px;
}

#section-6 .footer{
    background-color: #00cccc;
    padding: 30px;
    color: #fff;
}

@media (min-width: 768px){
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
        color: #fff;
        font-size: 25px;
    }
}